/Slides/~$Unity Workshop 2019.pptx
/UnityWorkshopGame/Library
/UnityWorkshopGame/Logs
/UnityWorkshopGame/Temp
/UnityWorkshopGame/.vs
/UnityWorkshopGame/Assembly-CSharp.csproj
/UnityWorkshopGame/obj
/UnityWorkshopGame/UnityWorkshopGame.sln
